strict-peer-dependencies=false

allowed-build-dependencies[]=@ffmpeg-installer/linux-x64
allowed-build-dependencies[]=@ffprobe-installer/linux-x64
allowed-build-dependencies[]=ffmpeg-static
allowed-build-dependencies[]=re2
